<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hpmont.dao.mapper.wechat.DictManualMapper" >
  <resultMap id="BaseResultMap" type="com.hpmont.domain.wechat.DictManual">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="language_type" jdbcType="TINYINT" property="languageType" />
    <result column="department_type" jdbcType="TINYINT" property="departmentType" />
    <result column="description" jdbcType="VARCHAR" property="description" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, language_type, department_type, description
  </sql>
  <select id="findManualType" resultMap="BaseResultMap" parameterType="com.hpmont.domain.search.SearchCommon" >
    select 
    <include refid="Base_Column_List" />
    from dict_manual
    WHERE 1=1
    <if test="departmentType!=null and departmentType!=''">
      AND department_type =#{departmentType,jdbcType=INTEGER}
    </if>
    <if test="languageType!=null and languageType!=''">
      AND language_type =#{languageType,jdbcType=INTEGER}
    </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from dict_manual
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hpmont.domain.wechat.DictManual">
    insert into dict_manual (id, name, language_type,
    department_type, description)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{languageType,jdbcType=TINYINT},
    #{departmentType,jdbcType=TINYINT}, #{description,jdbcType=VARCHAR})
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.hpmont.domain.wechat.DictManual">
    update dict_manual
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="languageType != null">
        language_type = #{languageType,jdbcType=TINYINT},
      </if>
      <if test="departmentType != null">
        department_type = #{departmentType,jdbcType=TINYINT},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>