<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hpmont.dao.mapper.wechat.WechatMenuMapper" >
  <resultMap id="BaseResultMap" type="com.hpmont.domain.wechat.WechatMenu" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="menu_name" property="menuName" jdbcType="VARCHAR" />
    <result column="menu_url" property="menuUrl" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="order_num" property="orderNum" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="BIT" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, menu_name, menu_url, description, order_num, status, gmt_create, gmt_modified
  </sql>
  <select id="findWechatMenu" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from wechat_menu
    ORDER  BY  order_num
  </select>

  <select id="findMenuByApp" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from wechat_menu
    WHERE status=1
    ORDER  BY  order_num
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from wechat_menu
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hpmont.domain.wechat.WechatMenu" >
    insert into wechat_menu (id, menu_name, menu_url, 
      description, order_num, status, 
      gmt_create, gmt_modified)
    values (#{id,jdbcType=INTEGER}, #{menuName,jdbcType=VARCHAR}, #{menuUrl,jdbcType=VARCHAR}, 
      #{description,jdbcType=VARCHAR}, #{orderNum,jdbcType=INTEGER}, #{status,jdbcType=BIT}, 
      #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP})
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.hpmont.domain.wechat.WechatMenu" >
    update wechat_menu
    <set >
      <if test="menuName != null" >
        menu_name = #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="menuUrl != null" >
        menu_url = #{menuUrl,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="orderNum != null" >
        order_num = #{orderNum,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=BIT},
      </if>
      <if test="gmtCreate != null" >
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

</mapper>