<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hpmont.dao.mapper.wechat.WechatImageMapper" >
  <resultMap id="BaseResultMap" type="com.hpmont.domain.wechat.WechatImage" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="image_name" property="imageName" jdbcType="VARCHAR" />
    <result column="real_name" property="realName" jdbcType="VARCHAR" />
    <result column="image_url" property="imageUrl" jdbcType="VARCHAR" />
    <result column="order_num" property="orderNum" jdbcType="INTEGER" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="language_type" property="languageType" jdbcType="TINYINT" />
    <result column="department_type" property="departmentType" jdbcType="TINYINT" />
    <result column="is_enable" property="isEnable" jdbcType="TINYINT" />
    <result column="status" property="status" jdbcType="BIT" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, image_name, real_name, image_url, order_num, description, language_type, department_type, 
    is_enable, status, gmt_create, gmt_modified
  </sql>
  <select id="findSlideshowList" resultMap="BaseResultMap" parameterType="com.hpmont.domain.search.SearchCommon" >
    select
    <include refid="Base_Column_List" />
    from wechat_image
    WHERE 1=1
    <if test="departmentType!=null and departmentType!=''">
      AND department_type =#{departmentType,jdbcType=INTEGER}
    </if>
    <if test="languageType!=null and languageType!=''">
      AND language_type =#{languageType,jdbcType=INTEGER}
    </if>
    ORDER  BY  order_num
  </select>

  <select id="findSlideshowUrlByApp" resultType="java.lang.String" parameterType="com.hpmont.domain.search.SearchCommon" >
    select
    image_url
    from wechat_image
    WHERE status=1
    AND is_enable=1
    <if test="departmentType!=null and departmentType!=''">
      AND department_type =#{departmentType,jdbcType=INTEGER}
    </if>
    <if test="languageType!=null and languageType!=''">
      AND language_type =#{languageType,jdbcType=INTEGER}
    </if>
    ORDER  BY  order_num
    limit 5
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from wechat_image
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hpmont.domain.wechat.WechatImage" >
    insert into wechat_image (id, image_name, real_name, 
      image_url, order_num, description, 
      language_type, department_type, is_enable, 
      status, gmt_create, gmt_modified
      )
    values (#{id,jdbcType=INTEGER}, #{imageName,jdbcType=VARCHAR}, #{realName,jdbcType=VARCHAR}, 
      #{imageUrl,jdbcType=VARCHAR}, #{orderNum,jdbcType=INTEGER}, #{description,jdbcType=VARCHAR}, 
      #{languageType,jdbcType=TINYINT}, #{departmentType,jdbcType=TINYINT}, #{isEnable,jdbcType=TINYINT}, 
      #{status,jdbcType=BIT}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}
      )
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.hpmont.domain.wechat.WechatImage" >
    update wechat_image
    <set >
      <if test="imageName != null" >
        image_name = #{imageName,jdbcType=VARCHAR},
      </if>
      <if test="realName != null" >
        real_name = #{realName,jdbcType=VARCHAR},
      </if>
      <if test="imageUrl != null" >
        image_url = #{imageUrl,jdbcType=VARCHAR},
      </if>
      <if test="orderNum != null" >
        order_num = #{orderNum,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="languageType != null" >
        language_type = #{languageType,jdbcType=TINYINT},
      </if>
      <if test="departmentType != null" >
        department_type = #{departmentType,jdbcType=TINYINT},
      </if>
      <if test="isEnable != null" >
        is_enable = #{isEnable,jdbcType=TINYINT},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=BIT},
      </if>
      <if test="gmtCreate != null" >
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>