<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hpmont.dao.mapper.PhoneAuthMapper" >
  <resultMap id="BaseResultMap" type="com.hpmont.domain.phone.PhoneAuth" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="version_type" property="versionType" jdbcType="INTEGER" />
    <result column="version_name" property="versionName" jdbcType="VARCHAR" />
    <result column="auth_code" property="authCode" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, version_name, auth_code
  </sql>
  <select id="findPhoneAuthList" resultMap="BaseResultMap" resultType="com.hpmont.domain.search.SearchPhoneAuth" >
    SELECT  pa.*
    FROM phone_auth_admin paa
    RIGHT  JOIN phone_auth pa ON  pa.id=paa.auth_id
    WHERE paa.admin_id=#{adminId,jdbcType=VARCHAR}
    <if test="versionType!=null and versionType!=''">
      AND pa.version_type = #{versionType,jdbcType=INTEGER}
    </if>
    <if test="authCode!=null and authCode!=''">
      AND pa.auth_code LIKE CONCAT('%',#{authCode,jdbcType=VARCHAR}, '%')
    </if>
  </select>

  <resultMap id="AuthCodeMap" type="com.hpmont.domain.phone.PhoneAuthCodes" >
    <result column="version_name" property="versionName" jdbcType="VARCHAR" />
    <collection property="authCodes" ofType="com.hpmont.domain.phone.PhoneAuth">
      <id property="id" column="id"/>
      <result column="auth_code" property="authCode"/>
    </collection>
  </resultMap>

  <select id="findAuthCodes" resultMap="AuthCodeMap" resultType="java.lang.Integer" >
    SELECT  pa.*
    FROM phone_auth_admin paa
    RIGHT  JOIN phone_auth pa ON  pa.id=paa.auth_id
    WHERE paa.admin_id=#{adminId,jdbcType=VARCHAR}
  </select>

  <select id="findByVersionType" resultMap="BaseResultMap" resultType="java.lang.Integer" >
    SELECT  pa.*
    FROM phone_auth_admin paa
    RIGHT  JOIN phone_auth pa ON  pa.id=paa.auth_id
    WHERE paa.admin_id=#{adminId,jdbcType=VARCHAR}
    AND pa.version_type=#{versionType,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from phone_auth
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <delete id="deleteByAuthId" parameterType="java.lang.Integer" >
    delete from phone_auth_admin
    where auth_id = #{id,jdbcType=INTEGER}
  </delete>

  <delete id="deleteByAdminId" parameterType="java.lang.Integer" >
    delete from phone_auth_admin
    where admin_id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.hpmont.domain.phone.PhoneAuth" useGeneratedKeys="true" keyProperty="id" keyColumn="id" >
    insert into phone_auth ( version_type , version_name, auth_code
      )
    values ( #{versionType,jdbcType=INTEGER} , #{versionName,jdbcType=VARCHAR}, #{authCode,jdbcType=VARCHAR}
      )
  </insert>

  <insert id="insertPhoneAuthAdmin" parameterType="com.hpmont.domain.phone.PhoneAuth" >
    insert into phone_auth_admin (auth_id, admin_id
      )
    values (#{authId,jdbcType=INTEGER}, #{adminId,jdbcType=INTEGER}
      )
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.hpmont.domain.phone.PhoneAuth" >
    update phone_auth
    <set >
      <if test="versionType != null" >
        version_type = #{versionType,jdbcType=INTEGER},
      </if>
      <if test="versionName != null" >
        version_name = #{versionName,jdbcType=VARCHAR},
      </if>
      <if test="authCode != null" >
        auth_code = #{authCode,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>